@model IEnumerable<TamAnh.Models.HopDong>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <br />
    <div class="panel panel-primary">
        <div class="panel-heading"><strong>Quản lý hợp đồng</strong></div>
        <div class="panel-body">
            <p class="text-right">
                <a href="@Url.Action("Create", "QuanLyHopDong")" class="btn btn-sm btn-success"> Thêm mới <i class="glyphicon glyphicon-plus"></i></a>
            </p>
            <table class="table table-bordered table-condensed table-hover table-striped">
                <tr>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.iSoHopDong)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.dNgayKy)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.dNgayCoHieuLuc)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.dNgayHetHan)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.iLuongCoBan)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.iLuongDongBH)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.sGhiChu)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.sTepDinhKem)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.sTenNhanVien)
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.iSoHopDong)
                        </td>
                        <td class="text-center">
                            @item.dNgayKy.ToString("dd/MM/yyyy")
                        </td>
                        <td class="text-center">
                            @item.dNgayCoHieuLuc.ToString("dd/MM/yyyy")
                        </td>
                        <td class="text-center">
                            @item.dNgayHetHan.ToString("dd/MM/yyyy")
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.iLuongCoBan)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.iLuongDongBH)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.sGhiChu)
                        </td>
                        <td class="text-center">
                            <a href="@item.sTepDinhKem" target="_blank" >@item.sTepDinhKem</a>
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.sTenNhanVien)
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>