<!DOCTYPE html>
<html>
<head>
    <base href="https://localhost:44363">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Tâm Anh</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/bootstrap-chosen.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="Home" class="navbar-brand" style="margin-top: 16px; color: #fff"><span class="glyphicon glyphicon-home"></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            &nbsp;Quản lý nhân sự &nbsp;<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu ">
                            <li><a href="./NV_CC">Quản lý chứng chỉ</a></li>
                            <li><a href="./NV_KTKL">Quản lý khen thưởng, kỷ luật</a></li>
                            <li><a href="./QuanLyHopDong">Quản lý hợp đồng</a></li>
                            <li><a href="./QuanLyNhanVien">Quản lý nhân viên</a></li>
                            <li><a href="./ChuyenViTriCongViec">Chuyển vị trí công việc</a></li>
                            <li><a href="./DM_KTKL">Khen thưởng, kỷ luật</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;
                            @Session["username"] &nbsp;<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu animated fadeInUp">
                            <li><a href="Login/Logout">Đăng xuất</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <footer>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/chosen.jquery.js"></script>
    <script src="https://kit.fontawesome.com/2858e99d1e.js" crossorigin="anonymous"></script>
    <script language="javascript">
        $(document).ready(() => {
            const listBtnRemove = $(".delete");
            listBtnRemove.on("click", function (e) {
                console.log($(this).attr("href"));
                e.preventDefault();
                if (confirm("Bạn có muốn xóa bản ghi này không?")) {
                    $.ajax({
                        url: $(this).attr("href"),
                        type: "POST"
                    }).done(() => {
                        $(this).parent().parent().remove();
                        console.log("Remove done");
                    })
                }
            })
            const listBtnAproved = $(".aproved");
            listBtnAproved.on("click", function (e) {
                console.log($(this).attr("href"));
                e.preventDefault();
                if (confirm("Xác nhận phê duyệt ?")) {
                    $.ajax({
                        url: $(this).attr("href"),
                        type: "POST"
                    }).done(() => {
                        $(this).parent().parent().find(".state").html("Đã duyệt");
                        $(this).parent().parent().find(".btn").remove();
                        console.log("Aproved done");
                    })
                }
            })
            const listBtnNotAproved = $(".not-aproved");
            listBtnNotAproved.on("click", function (e) {
                console.log($(this).attr("href"));
                e.preventDefault();
                if (confirm("Xác nhận không phê duyệt không?")) {
                    $.ajax({
                        url: $(this).attr("href"),
                        type: "POST"
                    }).done(() => {
                        $(this).parent().parent().find(".state").html("Không duyệt");
                        $(this).parent().parent().find(".btn").remove();
                        console.log("Not aproved done");
                    })
                }
            })
        })
    </script>
    <script type="text/javascript">
        $(function () {
            $(".selectpicker").chosen();
        });
    </script>
</body>
</html>
