@model IEnumerable<TamAnh.Models.tblkhenthuong_kyluat>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br />
<div class="panel panel-primary">
    <div class="panel-heading"><strong>Danh mục khen thưởng kỷ luật</strong></div>
    <div class="panel-body">
        <p class="text-right">
            <a href="@Url.Action("Create", "DM_KTKL")" class="btn btn-sm btn-success"> Thêm mới <i class="glyphicon glyphicon-plus"></i></a>
        </p>
        <table class="table table-bordered table-condensed table-hover table-striped">
            <tr>
                <th class="text-center">
                    Tiêu đề
                </th>
                <th class="text-center">
                    Thời gian lập
                </th>
                <th class="text-center">
                    Thời gian duyệt
                </th>
                <th class="text-center">
                    Kinh phí
                </th>
                <th class="text-center">
                    Ghi chú
                </th>
                <th class="text-center">
                    Tác vụ
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.KTKL_sTieuDe)
                    </td>
                    <td class="text-center">
                        @item.KTKL_dThoiGianLap.Value.ToString("dd/MM/yyyy")
                    </td>
                    <td class="text-center">
                        @item.KTKL_dThoiGianDuyet.Value.ToString("dd/MM/yyyy")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.KTKL_iKinhPhi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.KTKL_sGhiChu)
                    </td>
                    <td class="text-center">
                        <a href="@Url.Action("Edit", "DM_KTKL", new { id = item.PK_KTKL_iId })" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-pencil"></i></a>
                        <a href="@Url.Action("Delete", "DM_KTKL", new { id = item.PK_KTKL_iId })" class="btn btn-sm btn-danger delete"><i class="glyphicon glyphicon-trash"></i></a>
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
